# Ignore everything
*
**/

# Un-ignore explicitly
!.gitignore
!codexhome.cfg
!codexhome.cfg
!deploy_motion.sh
!deploy.sh
!init_home.sh
!template_automation_day_mode.yaml
!template_automation_motion.yaml
!template_package_day_mode.yaml
!template_package_motion.yaml
!template_package_reminder.yaml