# Codex Home — instance configuration
# Edit these values before running deploy.sh

#Version
VERSION="4.30"
DAY_TIME="07:00:00"
NIGHT_TIME="23:00:00"

#TODO - Set the language(DE|EN) -> example: "DE"
LANG=""

#TODO - From the Rooms list -> example: "AKS3"
HOME=""
#Rooms
ROOMS_DP13=("Kitchen" "Living" "Office" "OG" "Bedroom" "Bathroom")
ROOMS_AKS3=("Eingang" "Windfang" "Küche" "Wohnzimmer" "Flur" "Schlafzimmer" "Badezimmer" "Gastewc" "Keller" "OG_Flur" "OG_Wohnzimmer" "OG_Kueche" "OG_Bad")
ROOMS_HS12=("Eingang" "Bad" "Küche" "Linke" "Mitte" "Rechts")